.is-invalid {
    text-decoration: underline solid red 2px;
    background-color: rgba(250, 160, 160, 0.466);
}
html{
    width: 100vw;
}

header {
    padding: 0px !important;
}

body{
    
    background-color: #D7E9F7;
}
h1 {
    font-size: 3rem;
    text-align: center;
    transform: scaleY(1);
    background: -webkit-linear-gradient(#D7E9F7, #1D4CDB);
  }
  

h1, h2, h4, h5, p, #tip{
    color: #092B8F;
    font-weight: bolder;
}

img{
    border-radius: 10px;
    transition: all 0.5s;
   
}
img:hover{

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5)); 
}

footer {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}
.form-label{
    color:#092B8F;
    font-size: 20px;
}

#pai {
    margin: 0;
}

#bitcoin-div{
    border: 5px ridge #B5DEFF;
    border-left: none;
    border-right: none;
    padding: 2rem;
    color: #DBAE37;
}

#bit-button{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border: 0;
}

#bit-button img {
    width: 103%;
    height: 103%;
}

#formRegistration{
    margin-top: 50px;
    border-radius:  4px 6px 4px;
    border:outset 5px #B5DEFF;
    padding: 25px;
    color: #092B8F;
   
}
#popoverContainer{
    background-color: #B5DEFF;
    border-radius: 5px;
  
}


